.wrapper {
  color: var(--color-bg-white);
  padding: var(--spacing-lg);
  text-align: center;
}

.container {
  max-width: 100%;
  margin: 0 auto;
   background-image: url('/backgroundpg.png');
  background-size: cover; /* para cubrir todo el contenedor */
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.title {
  font-weight: 1700;
  margin-bottom: var(--spacing-md);
  font-size: clamp(2rem, 5vw, 3rem); /* texto responsivo */
}

.description {
  color: var(--color-text-secondary);
  margin-bottom: var(--spacing-lg);
  font-size: 1rem;
}

.icon {
  display: block;
  margin: 0 auto var(--spacing-md);
  width: 40px;
  height: 40px;
  transition: filter 0.3s;
}

.icon:hover {
  filter: brightness(125%);
}

@media (max-width: 480px) {

.wrapper {
  color: var(--color-bg-white);
  padding: var(--spacing-sx);
  text-align: center;
}


}