/* Formulario */
.form {
 max-width:40%;
 margin:1px auto; /* Centra el formulario horizontalmente dentro del contenedor */
 padding:2rem;
 background-color: var(--color-primary);
 border-radius: var(--border-radius-medium);
 box-shadow:02px8px rgba(0,0,0,0.1);
 opacity:0.9;
 display: flex;
 flex-direction: column;
}

.title {
  margin-bottom: var(--spacing-lg);
  font-size: 1.75rem;
  color: var(--color-bg-light);
  text-align: center;
}

.label {
  font-weight: 600;
  margin-bottom: var(--spacing-xs);
  color: var(--color-text-primary);
}

.input {
  padding: var(--spacing-sm);
  margin-bottom: var(--spacing-md);
  border: 1px solid #ccc;
  border-radius: var(--border-radius-small);
  font-size: 1rem;
  outline: none;
  transition: border-color 0.2s;
}

.input:focus {
  border-color: var(--color-accent);
}

.button {
  padding: var(--spacing-md);
  background-color: var(--color-bg-white);
  color: var(--color-primary);
  font-weight: 700;
  border: none;
  border-radius: var(--border-radius-medium);
  cursor: pointer;
  transition: background-color 0.3s;
  max-width: 35%;
  align-self: center;
}

.button:hover {
  background-color: var(--color-accent);
}

.loGocha {
  width: 12em;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.forgotPassword {
  display: block;
  text-align: center;
  margin: 10px 0;
  font-size: 0.9rem;
  color: var(--color-bg-light);  
  text-decoration: none;
}

.forgotPassword:hover {
  color: #000;
  text-decoration: underline;
}

@media (max-width: 480px) {
.form {
  max-width: 100%;
  margin-left: auto;
  margin-right: 1px;
  margin-top: 1px;  
  margin-bottom: 1px;
  padding: 2rem;
  background-color: var(--color-primary);
  border-radius: var(--border-radius-medium);
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  opacity: 0.9;
  display: flex;
  flex-direction: column;
}

  .submit-button {
    font-size: 1rem;
    padding: 0.6rem;
  }
}