/* globals.css */

/* Reset básico */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--color-bg-light);
  color: var(--color-text-secondary);
}


/* Estilo para encabezados, textos */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-bottom: var(--spacing-md);
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

p {
  margin-bottom: var(--spacing-md);
}



/* Responsive grid para layout */
.grid {
  display: grid;
  gap: var(--spacing-lg);
}

@media (max-width: 600px) {
  /* Ajustes responsivos */
}
