
/* Layout general */
.page-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: var(--spacing-lg);
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

