
/* Layout general */
.page-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: var(--spacing-lg);
}

.container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
}





@media (max-width: 480px) {

.page-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: start;
   padding:0;
}

}